integration_server/xsd/formatStudent.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 统一学生结构 Schema -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    
    <xs:element name="students">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="student" type="StudentType" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:complexType name="StudentType">
        <xs:sequence>
            <xs:element name="id" type="xs:string"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="major" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    
</xs:schema>
